h1 {
  color: greenyellow;
}

h1 {
  text-align: center;
}

.pixel {
  height: 25px;
  flex: 15%;
  border: 1px dotted black;
}

.pixel-letter {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  align-content: stretch;
}

.pixel-name {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

div {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: greenyellow;
  font-weight: bold;


}


.spinner {
  margin-top: 5rem;
  width: 5rem;
  height: 5rem;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  opacity: 0.5;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


body {
  margin: 0; padding: 0;
}
.hero-bkg-animated {
  z-index: 5;
  background: gray url("https://img1.goodfon.com/original/1920x1080/4/59/8bit-vremya-sutki-vecher-more.jpg") repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-animation: slide 60s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}