h1 {
  color: red ;
}

h1 {
  text-align: center;
}

.pixel {
  height: 25px;
  flex: 15%;
}

.pixel-letter {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  align-content: stretch;
}

.pixel-name {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

div {
  text-align: center;
}

body { 
  background: #adff9e url("https://img1.goodfon.com/original/1920x1080/4/59/8bit-vremya-sutki-vecher-more.jpg") no-repeat fixed center;
}