h1 {
  color: green;
}

.pixel {
  height: 25px;
  flex: 15%;
  border: 1px dotted black;
}

.pixel-letter {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  align-content: stretch;
}

.pixel-name {
  display: flex;
  flex-wrap: wrap;
}